#baner{
    background-image: url("img/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    #baner {
        background-size: contain;
        height: 200px;
        width: 100%;
    }
}

main{
    background-color: #000000;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    border: 7px solid rgb(51, 7, 87);
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgb(51, 7, 87);
    padding: 20px;
}

h1{
    font-size: 50px;
    color: rgb(175, 24, 175);
    text-align: center;
    text-shadow: 0px 0px 30px rgb(211, 148, 217);
}

.link-border{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.link{
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
    border: 10px solid rgb(51, 7, 87);
    border-radius: 20px;
    padding: 25px;
    width: 120px;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(51, 7, 87);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 15px;
}

.link:hover{
    transform: scale(1.1);
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    initial-scale: 1.0;
    position: fixed;
    top:0;
}

#color-btn{
    background-color: purple;
    color: #FFFFFF;
    font-size: 20px;
}

.donate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    border: 10px solid rgb(255, 166, 0);
    border-radius: 20px;
    padding: 0 25px;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgb(255, 166, 0);
    transition: transform 0.2s ease-in-out;
    width: 100%;
}

.donate>img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-self: flex-start;
}